/*  Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  /* Menu Bar Part */
  .navbar-nav {
    text-align: center;
    background-color: rgba(51, 42, 86, 0.8);
  }

  /* banner part */

  .banner-text {
    padding-top: 130px;
    padding-bottom: 130px;
  }

  .banner-text p {
    padding-right: 20px;
    padding-left: 20px;
  }

  .banner-text h2 {
    font-size: 20px;
  }

  /* about part */
  #about-part {
    padding: 20px;
  }
  .about-text h2 {
    text-align: center;
    padding-top: 30px;
  }
  .about-text a {
    display: block;
    width: 100%;
    text-align: center;
  }
  #video-part {
    padding: 100px 0;
  }
  .service-head p {
    font-size: 10px;
  }
  .service-icon h4 {
    font-size: 10px;
  }
  .service-icon p {
    padding: 0;
    font-size: 10px;
  }
  .team-text-part p {
    font-size: 10px;
  }
  .img-edit {
    height: 100px;
  }
  .service-icon img {
    padding-top: 40px;
    padding-bottom: 10px;
  }
  .about-img img {
    height: 150px;
    width: 150px;
  }
  .team-two-text p {
    font-size: 10px;
    line-height: 20px;
    padding: 0;
    padding-bottom: 25px;
  }
  .slider-img {
    width: 300px;
    height: 70px;
  }
  .left-arrow {
    top: 77%;
    left: 1%;
  }
  .right-arrow {
    top: 77%;
    right: 1%;
  }

  .slick-center .team-two-img img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    top: 16%;
    padding: 1px;
    margin-left: -7px;
  }
  .team-two-img img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .contact-right h3 {
    color: #3e2e68;
    padding-bottom: 20px;
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
  }
  .contact-left a {
    width: 100%;
    text-align: center;
  }
  .contact-right-part {
    text-align: center;
  }

  .footer-top-middle p {
    font-size: 10px;
    line-height: 15px;
  }
  .newsletter {
    width: 100%;
    margin-bottom: 10px;
  }
  .footer-top-right ul li a {
    font-size: 10px;
  }
  .footer-top-right ul li {
    width: 20px;
    height: 20px;
    line-height: 15px;
    margin-top: 20px;
    margin-left: 9px;
  }
  .footer-top-left p {
    padding-bottom: 25px;
  }
  .footer-bottom-left ul li {
    margin-right: 10px;
  }
  .footer-bottom-left ul li a {
    font-size: 6px;
  }
  .footer-bottom-right p {
    font-size: 9px;
  }
  .footer-wrap-bottom {
    margin-top: 20px;
  }
  #footer-part {
    padding: 30px 0;
  }

  .btn-custom-footer-right {
    width: 100%;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* Menu Bar Part */
  .navbar-nav {
    text-align: center;
    background-color: rgba(51, 42, 86, 0.8);
  }

  /* banner part */
  .banner-text p {
    padding-right: 70px;
    padding-left: 70px;
  }

  .banner-text {
    padding-top: 150px;
    padding-bottom: 150px;
  }

  /* about part */
  #about-part {
    padding: 20px;
  }
  .about-text h2 {
    text-align: center;
    padding-top: 30px;
  }
  .about-text a {
    display: block;
    width: 100%;
    text-align: center;
  }
  .about-img img {
    height: 150px;
    width: 150px;
  }

  #video-part {
    padding: 100px 0;
  }
  .service-icon p {
    font-size: 12px;
    padding: 0;
  }
  .service-icon img {
    padding-top: 35px;
    padding-bottom: 20px;
  }
  .team-two-text p {
    padding: 0;
    font-size: 13px;
    line-height: 28px;
  }
  .contact-left a {
    display: block;
    text-align: center;
    background: aqua;
  }
  .contact-right h3 {
    padding-top: 20px;
    text-align: center;
  }
  .contact-right-part {
    text-align: center;
  }
  .footer-top-right ul li {
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 50%;
  }
  .footer-top-right ul li a {
    font-size: 13px;
    margin-left: 5px;
  }
  .footer-bottom-left ul li a {
    font-size: 10px;
  }
  .footer-bottom-right p {
    font-size: 10px;
  }
  .footer-top-middle p {
    font-size: 10px;
    line-height: 20px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Menu Bar Part */
  .navbar-nav {
    text-align: center;
    background-color: rgba(51, 42, 86, 0.8);
  }
  /* banner part */
  .banner-text {
    padding-top: 150px;
    padding-bottom: 150px;
  }
  /* about part */
  #about-part {
    padding: 20px;
  }
  .about-text h2 {
    text-align: center;
    padding-top: 30px;
  }
  .about-text a {
    display: block;
    width: 100%;
    text-align: center;
  }
  .about-img img {
    height: 150px;
    width: 150px;
  }
  /* video part  */
  #video-part {
    padding: 150px 0;
  }

  /* project img part */
  .project-img {
    display: inline-block;
  }
  .img-edit {
    height: 200px;
    width: 300px;
  }

  /* service part */
  #service-part {
    padding: 60px 0;
  }
  .service-icon img {
    padding-top: 50px;
    padding-bottom: 15px;
  }
  .service-icon h4 {
    padding-bottom: 10px;
  }
  .service-icon p {
    padding: 0;
  }

  .right-arrow {
    top: 84%;
    right: 15%;
  }
  .left-arrow {
    top: 84%;
    left: 12%;
  }

  #contact-part {
    text-align: center;
  }

  .contact-right h3 {
    padding-top: 20px;
  }

  .footer-bottom-left ul li {
    margin-right: 10px;
  }
  .footer-bottom-left ul li a {
    font-size: 14px;
  }
  .footer-top-right h3 {
    text-align: center;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .right-arrow {
    top: 81%;
    right: 21%;
  }
  .left-arrow {
    top: 81%;
    left: 19%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
